.App {
  margin: 0;
      font-family: Arial, sans-serif;

}

h1, h4{
  margin-left: 20px;
}

h1{
  color: #e2116f;
}

h4{
  color: #454344;
}

.navbar {
  overflow: hidden;
  /* background-color: #7b7b7b; */
  width: 100%;
  margin-left: 20px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  width: 18%;
  background-color: #7b7b7b;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #e2116f;
  color: white;
}

.navbar .icon {
  display: none;
}


